/*
Colors: 
#4aaaa5; <--teal
#ffffff; <--white
#777777; <--gray

*/

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', 'sans-serif';
    color: #222;
  }

.robTitle {
    
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    width: 300px
    
}



.robImage {
    width: 35%;
    height: auto;     
    
}

.navStyle {
    background-color: white;
    border-bottom: 2px solid #cccccc;

}

.nav-item {
   margin-right: 30px;
}

.nav-link {
    color: #777777;
}

.main-background {
background-image: url(https://grobconnolly.github.io/myportfolio/assets/images/swirl_pattern.png);
background-repeat: repeat;
padding-top: 30px;
}

.contentBack {
    background-color: #ffffff;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 70px;
    padding-top: 20px;
    border: 2px solid #dddddd;
    
}

.contentText {
word-spacing: .25em;
line-height: 1.5em;
padding-top: 8px;
color: #777777;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
}



footer {

    background-color: #666666;
    color: #d5d5d5;
    padding-top: 40px;
    width: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
  }

  .footerLine {
      background-color: #4aaaa5;
      height: 70px;
      width: 100%;
  }

  .titleLine {
       border: 1px solid #777777;
  }
  
  .contentHeading {
      color: #4aaaa5;
      font-family: 'Georgia', Times, 'Times New Roman', serif;

  }

  .boxTitle {
    list-style: none;
    height: 150px;
    width: 200px;
    margin: 10px 0 10px 0;
    background-size: 100%;
}

ul {
    display: grid;
    grid-template-columns: 30% 30%;
    background-color: white;
    padding: 10px;
}

.boxText {
    background: #4aaaa5;
    width: 200px;
    height: 40px;
    color: white;
    text-align: center;
    align-items: center;
    position: relative;
    top: 80px;
    right: 15px;
    line-height: 40px;
}

#hangmanImage {
    background-image: url("../images/hangman.jpg");
    background-size: 100%;
    height: 150px;
    width: 200px;
}

#rpgImage {
    background-image: url("../assets/images/rpg.jpg");
    background-size: 100%;
    height: 150px;
    width: 200px;
}
#triviaImage {
    background-image: url(../images/trivia.jpg);
    background-size: 100%;
    height: 150px;
    width: 200px;
}

#rutgersImage {
    background-image: url(../images/rutgers.jpg);
    background-size: 100%;
    height: 150px;
    width: 200px;
}

#rpsImage {
    background-image: url(../images/rps.jpg);
    background-size: 100%;
    height: 150px;
    width: 200px;



@media (max-width: 766px) {
    .robTitle {
        margin-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
       
    }

    .navbarLinks {
        justify-content: center;
        width: 100%;
    }

    .contentBack {
        background-color: #ffffff;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-top: 110px;
    }
        .robImage {
           
            width: 100%;
            height: auto;
            align-content: center;
        }

        .contentText {
            word-spacing: .25em;
            line-height: 1.5em;
            }
        
    
}



/*
body {
    height: 100%;
    width: 100%;
}

.titleRob {
    color: #ffffff;
    background-color: #4aaaa5;
    height: 50px;
    width: 100%;
    justify-content: center;
    font-size: 25px;
    padding-top: 20px;
}

.nav-links {
    color: gray;
    }

.imgBack {
background-color: blue;
height: 100%;
width: 100%;
}


@media (max-width: 640px) {

   .linksNav {
       justify-content: center;
        right: 30%;
    }

    #titleRob {
        left: 40%;
    }

}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/